{% include base_path %}

<!-- start custom head snippets -->
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="0DJM0FeDzprOUAXz97wTpa1F6guw-2dtE4ASJ_lzeuk" />
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<meta name="description" content="Javier Gonzalez-Castillo is a Staff Scientist at the NIH conducting research on fMRI methods, resting state functional connectivity, realtime fMRI, the neural correlates of internally driven cognition">
<meta name="googlebot" content="index,follow">
<!-- end custom head snippets -->
