---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

{: .text-justify}
In this map you can see a geographic depiction of where Science has taken me over the years. There are a lot of gratifying things associated with being a scientist, and one of them is the unique opportunity to travel around the world and meet people from all nationalities and backgrounds.</p>

<p align='center'><iframe src="/talkmap/map.html" height="350" width="425" style="border:none;"></iframe></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
